
@font-face{
    font-family: gilroy;
    src: url(Gilroy-Medium.ttf);
}
@font-face {
    font-family: rejoiuce;
    src: url(Rejouice-Headline.ttf);
}
@font-face {
    font-family: NBInternational;
    src: url(NBInternationalProBoo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NBInternational;
}
html ,body {
    height: 100%;
    width: 100%;
    /* margin-bottom: 100vh; */
    background-color: #0E0E0E;
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    
}
#cursor{
    height: 7.5vw;
    width: 7.5vw;
    border-radius: 50%;
    background-color: #ff5f38;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    transform: translate(-50% , -50%);
}
#cursor h5{
    font-size: 1.2vw;
    font-weight: 500;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
   
}

#page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3vw 3vw;
}
nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}
nav h4{
    font-size: 1.4vw;
    font-weight: 100;
}
#page1-content h1{
    font-family: rejoiuce;
    font-size: 26.5vw;
    font-weight: 100;
    line-height: 27vw;
    
}
#page1-content h1 span{
    font-family: rejoiuce;
    display: inline-block;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #FAF8F3;
    display: flex;
    align-items: center;
    flex-direction: column;   
}
#upper{
    height: 19vh;
    width: 93%;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.39);  */
    display: flex;
    justify-content: space-between; 
    position: relative;     
}
#border{
    position: absolute;
    width: 100%;
    height: 18vh;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    z-index: 200;
    
}
#border-container{
    position: absolute;
    width: 100%;
    height: 18vh;
    overflow: hidden;
}
#upper h2{
    font-size: 3.3vh;
    position: relative;
    top: 110px;
    font-weight: 200;
}
#page2-content{
    height: 87.4vh;
    width: 93%;
}
#page2-content h1{
    font-size: 8.1vh;
    font-weight: 300;
    padding: 0px 1vh;
}
#page2-content #line1{
    
    position: relative;
    left: 18vh;
}
#page2-content #line2{
    overflow: hidden;
    
}
#page2-content #line3{
    overflow: hidden;
}
#page2-content #line4{
    overflow: hidden;
}
#page2-content #line5{
    overflow: hidden;
}
#upper-left{
    overflow: hidden;
}
#upper-right{
    overflow: hidden;
}
#line1-container{
    overflow: hidden;
}
#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #FAF8F3;
    padding: 3vw;
}
#page3-top{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1s ease;
}
#page3-top h4{
    margin-bottom: 1vw;
    position: relative;
    transition: 0.3s;
    font-size: 1vw;
    font-weight: 500;
}
#page3-top h2{
    font-size: 4vw;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
    width: 50%;
    transition: all 0.5s ease;
}

#page3-top span{
    font-size: 0.7vw;
    position: relative;
    transition: 0.3s;
    color: #FAF8F3;
    background-color: black;
    padding: 4px 10px;
    border-radius: 10px;
}
#page3-elements{
    height: 75vh;
    display: flex;
    justify-content: space-between;
    margin-top: 8vw;
    align-items: center;
    width: 100%;
}
#page3-elements #box{
    height: 100%;
    width: 32.5%;
    position: relative;
    
}
#page3-elements #box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page3-elements #box img{
    height: 100%;
    scale: 1.001;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    transition: all 0.45s ease;
}
#page3-elements #box #logo1{
    height: 7%;
    padding: 15px;
    width: 40%;
    left: 30%;
    position: absolute;
    object-fit: cover;
    top:79%;
    object-position: center;
    transition: all 0.45s ease;
}

#page3-elements #box:hover img{
    opacity: 0;
}

#logo2{
    height: 15%;
    width: 60%;
    scale:0.31;
    left: 20%;
    top :75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    position: absolute;
    object-fit: contain;
    object-position: center;
    transition: all 0.45s ease;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #FAF8F3;
    padding: 0px 50px;
}
#page4-upper{
    height: 30vh;
    width: 100%;
    padding: 0px 14px;
    overflow: hidden;
}
#page4-upper-left{
    width: 100%;
    position: relative;
    top: 67%;    
}
#page4-upper-left h2{
    font-size: 1.65vw;
    font-weight: 100;
}
#page4-border-container{
    position: absolute;
    width: 100%;
    left: 0%;
    top: -107%;
    height: 18vh;
    overflow: hidden;
}
#page4-border{
    position: absolute;
    width: 100%;
    top: 0%;
    height: 18vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.485);
    z-index: 200;
}
#page4-content{
    width: 100%;
    height: 60vh;
}
#page4-content h1{
    font-size: 4.1vw;
    font-weight: 500;
}
#page4-line1{
    position: relative;
    left: 8%;
}
#page4-line1-container{
    overflow: hidden;
}
#page5{
    height: 100vh;
    width: 100%;
    background-color: #FAF8F3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 100vh; */
}
#page5 video{
    height: 100%;
    scale: 1.5;
}
#page5 svg{
    position: absolute;
    height: 80%;
}
#circle-content{
    
    position: absolute;
    width: 15%;
    height: 12%;
    color: white;
}
#circle-upper{
    display: flex;
    justify-content: center;
    font-size: 6.3vh;
    font-weight: 100;
    align-items: center;
}
#num-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 69px;
    width: 50px;
    font-size: 8vh;
    overflow: hidden;
    
}
#nums{
    position: relative;
    top:-244%;
}
#circle-lower{
    font-size: 4.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page6{
    height: 100vh;
    width: 100%;
    padding: 5vw 0;
    /* margin-bottom: 100vh;s */
    z-index: -2;
    background-color: #FAF8F3;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.69);
    /* position: relative; */
}
#page6 h1{
    font-size: 10vw;
    font-family:rejoiuce;
    font-weight: 100;
    border-bottom: 1px solid black;
    width: 96%;
    margin-left: 2%;
}
#swiperdiv{
    height: 60vh;
    width: 80%;
    position: relative;
    margin-top: -5%;
}
.swiper {
    width: 130%;
    height: 100%;
  }

.swiper-slide {

    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }

.swiper-slide img {
    display: block;
    width: 19%;
    object-fit: cover;
  }
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    /* opacity: 0; */
    background-color: black;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
}
#loader h3{
    font-size: 2vw;
}
#footer{
    height: 100vh;
    z-index: -30;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #0E0E0E;
}
#footer-top{
    height: 47vh;
    width: 100%;

    position: relative;
}
#footer-bottom{
    height: 53vh;
    width: 100%;
 
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#footer-bottom-text{
    width: 100%;
    height: 100%;
    position: relative;
}
#footer-bottom-text h1{
    font-family: rejoiuce;
    font-size: 26.5vw;
    font-weight: 100;
    line-height: 27vw;
    
}
#footer-bottom-text h1 span{
    font-family: rejoiuce;
    display: inline-block;
}
#footer-top #upperdiv{
 
    width: 100%;
    height: 50%;
}
#footer-top #lowerdiv{
 
    width: 100%;
    height: 50%;
    position: relative;
}
#upperdiv{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#upperdiv #right{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#right12{
    display: flex;
    flex-direction: column;
    height: 150px;
    font-size: 1vw;
    width: 180px;
    margin-left: 120px;
    padding-left: 10px;
}
#right12 a {
    position: relative;
    color: white;
    text-decoration: none;
}
#upperdiv #left {
    position: relative;
    top: -15px;
    font-size: 1.7vw;
    margin-left: 40px;
}
#upperdiv #left h3{
    border: 1px solid white;
    border-radius: 30px;
    font-size: 1.2vw;
    text-align: center;
    position: absolute;
    padding-top: 15px;
    margin-top: 25px;
    height: 60px;
    width: 171px;
    transition: 0.3s;
}
#lowerdiv{
    font-size: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 40px;
}
#lowerdiv #lright{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#lowerdiv #lright h3{
    margin-right: 155px;
}
#lowerdiv #lright h4{
    padding-right: 35px;
}

#right12 a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0%;
    left: 0px;
    transition: 0.3s;
    bottom: 0px;
}
#right12 a:hover:after{
    width: 60%;
}
#right1 h2{
    position: relative;
}
#right1 h2:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: 0;
    transition: 0.3s;
    
}
#right1 h2:hover:after{
    width: 100%;
}
#right1 h2:hover{
    cursor: pointer;
}

#upperdiv #left h3:hover{
    width: 200px;
    height: 65px;
    padding-top: 18px;
    cursor:pointer;
}
#page3-top h4:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    left: 0px;
    transition: 0.3s;
    bottom: -10px;
}
#page3-top h4:hover:after{
    width: 100%;
}
#page3-top h2:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    left: 0px;
    transition: 0.3s;
    bottom: -10px;
}
#page3-top h2:hover:after{
    width: 95%;
}
#page1-content h4:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0%;
    left: 0px;
    transition: 0.3s;
    bottom: -10px;
}
#page1-content h4:hover:after{
    width: 100%;
    
}
#page1-content h4:hover{
    cursor: pointer;
    
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65vh;
    width: 100%;
    background-color: #FAF8F3;
    position: fixed;
    top: -70%;
    z-index: 99;
}
#menu-left{

    width: 30%;
    display: flex;
    flex-direction: column;
    
    height: 100%;
}
#menu-left #vid{
    height: 60%;
    width: 100%;
   
    object-fit: cover;
}
#menu-vid{
    padding: 20px 45px;
    margin-top: 40px;
    height: 100%;
    width: 100%;
   
}
#vid video{
    height: 100%;
    position: relative;
    width: 100%;
    bottom: 0px;
    object-fit: contain;
}
#menu-vid h2{
    font-size: 1.6vw;
    font-weight: 600;

}
#vid-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1vw;
}
#menu-right{
   
    width: 42%;
    height: 100%;
}
#menu-right h2{
    font-size: 3.4vw;
    font-weight: 100;
    position: relative;
}
#menu-right h1{
    font-size: 1.4vw;
    font-weight: 300;
    margin-left: 84%;
    margin-top: 7%;
    position: relative;
}
#menu-right h3{
    font-size: 1vw;
    border-radius: 30px;
    border: 2px solid black;
    width: 180px;
    position: relative;
    transition: 0.3s;
    text-align: center;
    height: 10px;
    margin-top: 3%;
}
#menu-bottom{
    width: 95%;
    left: 2.5%;
    height: 7vh;
    position: absolute;
    color: #0E0E0E;
    bottom: 0px;
    /* border-top: 2px solid rgba(0, 0, 0, 0.72); */
    display: flex;
    justify-content: space-between;
    font-size: .8vw;
    font-weight: 100;
    align-items: center;

}
#menu-bottom a{
    text-decoration: none;
    color: black;
    font-size: 1.32vw;
    position: relative;
    margin-left: 10px;
}
#top-border-container{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
#top-border{
    width: 100%;
    height: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.72);
}
#menu-bottom a:after{
    left: 0;
    bottom: -9px;
    background-color: black;
    height: 2px;
    width: 0%;
    position: absolute;
    content: "";
    transition: 0.3s;
}
#menu-bottom a:hover:after{
    width: 100%;
}
#menu-items{
    position: relative;
    top: 0%;
    position: relative;
    line-height: 70px;
}
#menu-items h3{
    padding-bottom: 70px;
    margin-left: 20px;
}
#menu-right h1:after{
    left: 0;
    bottom: 0;
    background-color: black;
    height: 2px;
    width: 0%;
    position: absolute;
    content: "";
    transition: 0.3s;
}
#menu-right h1:hover:after{
    width: 55%;
}
#menu-right h1:hover{
    cursor: pointer;
}
#menu-items h2:after{
    left: 0;
    bottom: 0;
    background-color: black;
    height: 2px;
    width: 0%;
    position: absolute;
    content: "";
    transition: 0.3s;
}
#menu-items h2:hover:after{
    width: 68%;
}
#menu-items h2:hover{
    cursor: pointer;
}
#menu-items h3:hover{
    width: 200px;
}
